/.idea
/SharpBond.Examples.AgentCollaboration/obj
/SharpBond.Examples.AgentCollaboration/bin
/SharpBond.Core/bin
/SharpBond.Core/obj
/SharpBond.Integrations.OpenAI/obj
/SharpBond.Integrations.OpenAI/bin
/SharpBond.Examples.Tools/obj
/SharpBond.Examples.Tools/bin
/SharpBond.Integrations.Redis/obj
/SharpBond.Integrations.Redis/bin
/SharpBond.Integrations.AzureServiceBus/obj
/SharpBond.Integrations.AzureServiceBus/bin
