/.idea
/SharpBond.Examples.AgentCollaboration/obj
/SharpBond.Examples.AgentCollaboration/bin
/SharpBond.Core/bin
/SharpBond.Core/obj
/SharpBond.Integrations.OpenAI/obj
/SharpBond.Integrations.OpenAI/bin
/SharpBond.Examples.Tools/obj
/SharpBond.Examples.Tools/bin
/SharpBond.Integrations.Redis/obj
/SharpBond.Integrations.Redis/bin
/SharpBond.Integrations.AzureServiceBus/obj
/SharpBond.Integrations.AzureServiceBus/bin
/SharpBond.Examples.AzureServiceBus.OrchestratorAgent/bin
/SharpBond.Examples.AzureServiceBus.OrchestratorAgent/obj
/SharpBond.Examples.AzureServiceBus.PoemAgent/bin
/SharpBond.Examples.AzureServiceBus.PoemAgent/obj
/SharpBond.Examples.AzureServiceBus.ReviewerAgent/bin
/SharpBond.Examples.AzureServiceBus.ReviewerAgent/obj
/SharpBond.Examples.AzureServiceBus.SummarizationAgent/bin
/SharpBond.Examples.AzureServiceBus.SummarizationAgent/obj
/SharpBond.Examples.AzureServiceBus.Types/obj
